{% extends 'admin/base.html.twig' %}

{% block title %}Mi | LAH
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			width: 100%;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
		.action {
			width: 100px;
			padding: 2px !important;
			height: 35px;
		}
	</style>

	<div class="example-wrapper">

		<table class="table table-stripped table-bordered queued">
			<thead>
				<th>ID</th>
				<th>Position</th>
				<th>Type</th>
				<th>Ticket</th>
				<th>User</th>
				<th>Date de création</th>
				<th>Date de clôture</th>
				<th>Status</th>
			</thead>
			<tbody>

				{% for queue in queued %}

					{% set updatedAt = '---' %}
					{% set status = '' %}
					{% set class = '' %}
					{% set titre = '' %}
					{% set disabled = '' %}


					{% if queue.updatedAt != null %}
						{%  set updatedAt = queue.updatedAt|date('Y-m-d : H:i:s') %}
					{% endif %}

					{% if queue.status == "A"  %}
						{%  set status = "En attente" %}
						{%  set class = "btn-info" %}
						{%  set titre = "Appeler ?" %}

					{% elseif queue.status == "E" %}
						{%  set status = "En cours" %}
						{%  set class = "btn-warning" %}
						{%  set titre = "Términer ?" %}

					{% else %}
						{%  set status = "Terminé" %}
						{%  set class = "btn-success" %}
						{% set disabled = 'disabled' %}
					{% endif %}
					<tr>
						<td>{{ queue.id }}</td>
						<td>{{ queue.position }}</td>
						<td>{{ queue.type }}</td>
						<td>{{ queue.type|first ~ queue.numero}}</td>
						<td>{{ queue.user }}</td>
						<td>{{ queue.createdAt|date('Y-m-d : H:i:s') }}</td>
						<td>{{ updatedAt  }}</td>
						<td>
							<button type="button" class="btn btn-small {{ class }} action" value="{{ queue.type|first ~ queue.numero}}-{{ queue.status }}" data-toggle="tooltip" data-placement="bottom" title="{{ titre }}" {{ disabled }} data-id="{{ queue.id }}">{{ status }}</button>

						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<script src="{{ asset('asset/js/jquery-3.7.1.min.js')}}"></script>
	<script src="{{ asset('asset/js/scripts.js')}}"></script>


</div>{% endblock %}
