{% extends 'admin/base.html.twig' %}

{% block title %}Mi | LAH
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.card-container {
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			width: 120px;
			height: 130px;
			background-color: #f0f0f0; /* Couleur de fond des cartes */
			border: 1px solid #ccc; /* Bordure des cartes */
			justify-content: center;
			align-items: center;
		}
	</style>

	<div class="example-wrapper">
		<div class="card-container">
			{% for operation in operations %}
				<button class="m-2 btn button" value={{ operation.fonction }} data-id={{ operation.type }} data-agence={{ user.agence.id}}>
					<div class="card text-white bg-primary">
						<center>{{ operation.libelle }}</center>
					</div>
				</button>

			{% endfor %}
		</div>
	</div>

	<script src="{{ asset('asset/js/jquery-3.7.1.min.js')}}"></script>
	<script src="{{ asset('asset/js/scripts.js')}}"></script>


{% endblock %}
